@charset "utf-8";
/* CSS Document */
.text1{
	font-family:"MS Serif", "New York", serif;
	font-size:12px;
	color:#FFF;	
}
.text2{
	font-family:"MS Serif", "New York", serif;
	font-size:14px;
	color:#FFF;	
}